:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 230px;
  }
  mat-drawer-container {
    height: 100%;
    background-color: #F5F7FB;
  }
  
  mat-drawer {
    background: #43425D;
  }
  