.add-bnt{
    background-color:#6763E3 ;
    color: white;
    padding: 10px;
    width: 110px;
    border-radius: 5px;
    border: none;
}
.add-bnt i{
    background-color: #514DDC;
    border-radius: 9px;
    padding: 3px;
}
#add-btn1{
    padding-left: 110px;
}
#chart1{
    height: 250px;
}
#chart2{
   height: 150px;
   width: 150px;
}
.table-responsive{
    color: black;
    text-align: center;
 
}
.profile-img{
    border-radius: 180px;
    height: 100px;
    width: 100px;
   margin-top: 20px;
}
.card-body1 p{
    color: #43425D;
}
.card-body1 i{
    color: #43425D;
    padding: 8px;
}
.profile-note img{
    border-radius: 180px;
    height: 60px;
    width: 60px;
}

.menu-cont1 p{
   color: black;
}
.not1{
    width: 229px;
}
#table-bp{
    
   border: none;
   color: #4D4F5C;
   width: 100%;
  
   
}
#table-bp td ,th{
    border-bottom: 1px solid rgb(247, 247, 247);
    padding: 8px;

}
.t-div{
    background-color: #fff;
    padding: 30px;
    margin-bottom: 70px;
    border: 1px solid rgb(211, 208, 208);
    border-radius: 4px;
}


#video-card{
    margin-top: 20px;
}
.card-body2 img{
    height: 283px;
    width: 420px;
    border-radius: 5px;
    
}