.add-bnt{
    background-color:#6763E3 ;
    color: white;
    padding: 10px;
    width: 110px;
    border-radius: 5px;
    border: none;
}
.add-bnt i{
    background-color: #514DDC;
    border-radius: 9px;
    padding: 3px;
}
#add-btn1{
    padding-left: 110px;
}