<div class="container-fluid">
    <div class="row d-flex page__box p-3 mt-2 text-dark">
        <div class="col-sm-6"><h2>Overview</h2></div>
        <div id="add-btn1" class="col-sm-6"><button class="add-bnt float-end">Add Funds <i class="fa-solid fa-plus"></i></button></div>
    </div>
    <div class="row d-flex page__box p-3 mt-2 text-dark">
      <div class="col-6"><div class="row">
        <div class="col-12 col-lg-8 col-xl-8 d-flex">
           <div class="card radius-10 w-100">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <h6 class="mb-0">Site Traffic</h6>
              </div>
              <div class="font-22 ms-auto"><i class="bx bx-dots-horizontal-rounded"></i>
              </div>
            </div>
            <div class="d-flex align-items-center ms-auto font-13 gap-2 my-3">
              <span class="border px-1 rounded cursor-pointer"><i class="bx bxs-circle me-1" style="color: #14abef"></i>New Visitor</span>
              <span class="border px-1 rounded cursor-pointer"><i class="bx bxs-circle me-1" style="color: #ade2f9"></i>Old Visitor</span>
            </div>
             <div class="chart-container-1">
             <canvas id="chart1"></canvas>
             </div>
          </div>
          <div class="row row-cols-1 row-cols-md-3 row-cols-xl-3 g-0 row-group text-center border-top">
            <div class="col">
            <div class="p-3">
              <h5 class="mb-0">45.87M</h5>
              <small class="mb-0">Overall Visitor <span> <i class="bx bx-up-arrow-alt align-middle"></i> 2.43%</span></small>
            </div>
            </div>
            <div class="col">
            <div class="p-3">
              <h5 class="mb-0">15:48</h5>
              <small class="mb-0">Visitor Duration <span> <i class="bx bx-up-arrow-alt align-middle"></i> 12.65%</span></small>
            </div>
            </div>
            <div class="col">
            <div class="p-3">
              <h5 class="mb-0">245.65</h5>
              <small class="mb-0">Pages/Visit <span> <i class="bx bx-up-arrow-alt align-middle"></i> 5.62%</span></small>
            </div>
            </div>
          </div>
           </div>
        </div></div>
    </div>
  </div>
  