// overview

.add-bnt{
    background-color:#6763E3 ;
    color: white;
    border-radius: 5px;
    border: none;
}

// chart1

#chart1{
    height: 362px;
  
}

// chart2

#chart2{
  
   width: 250px;
}
.table-responsive{
    color: black;
    text-align: center;
 
}
.table-responsive i{
    padding: 7px;
}
//  profile
.card-body1 p{
    color: #43425D;
}

.card-body1 i{
    color: #43425D;
    padding: 8px;
}
.profile-img{
    border-radius: 180px;
    height: auto;
    width: 80px;
   margin-top: 20px;
}
.figure img{
    border-radius: 50%;
    height: auto;
    width: 40px;
}
.user-details h5{
    font-size: 14px;
}
.user-details span{
    font-size: 14px;
    opacity: 0.5;
}
.user-details{
    margin-left: 20px;
    padding-right: 100px;
}
.time-log{
    font-size: 14px;
    opacity: 0.5;
    
}
.time-log span{
    float: right;
}
.user{
    color: #43425D;
    padding: 0px 20px 0px 40px;
}
.text-center i{
    color: #43425D;
}


// table

#table-bp{
    
   border: none;
   color: #4D4F5C;
   width: 100%;
  
   
}
#table-bp td ,th{
    border-bottom: 1px solid rgb(247, 247, 247);
    padding: 8px;

}
.t-div{
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    margin-bottom: 70px;
    border: 1px solid rgb(211, 208, 208);
    border-radius: 4px;
    
}
#table-bp th{
    background-color: #F5F6FA    ;
 }
 .t-div h3{
    color: #4D4F5C;
}
 
//video card

#video-card{
    margin-top: 25px;
    height: 360px;
}
.card-body2 .yt-video{
   padding: 20px;
    
}
.yt-video iframe{
    height:200px;
    width: 400px;
    border-radius: 5px;
}
.t-div{
    overflow: scroll;
}


//table mobile responsive

@media only screen and (max-width: 750px) {
    .px-4{
      padding-right: 0%;
      padding-left: 0%;
      }
     
    }
    
   